*{
  margin: 0;
  font-family: sans-serif;
}
.desktopChatbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: darkblue;
}

.desktopChatbox{
  background-color: white;
}

.MobileChatbox{
  display: none;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .desktopChatbox{
    display: none;
  }
  .MobileChatbox{
    display: block;
  }
}